/* Styling the hamburger */
.hamburger {
  aspect-ratio: 8 / 1;
  position: relative;
  width: 2.5rem;
  background-color: white;
  border-radius: 50px;
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
  border-radius: inherit;
}

.hamburger::before {
  transform: translateY(-0.7em);
}

.hamburger::after {
  transform: translateY(0.7em);
}
