.card {
  display: flex;
  flex-direction: column;
  padding: 3em 1em 1em;
  border: 1px solid hsl(0 0% 90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  aspect-ratio: 8 / 9;
}
