/* Styling the searchbar */
.search {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Styling the input for the SearchBar */
.search .input {
  margin-bottom: 0;
}

/* Styling the button for the SeachBar */
.search button:hover {
  transform: none;
}
