/* Styling the navbar */
.navbar {
  padding: 0.7em 1em;
  background-color: var(--secondary-bg);
  color: white;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* Styling the logo section  */
.logo {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-decoration: none;
  color: white;
  margin-right: auto;
}

.logo img {
  aspect-ratio: 1/1;
  width: 40px;
}

.logo h1 {
  font-family: "Dosis", sans-serif;
  line-height: 56px;
}

/* Styling the link section */
.navigation {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}
