/* Styling the login form container */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.signup-form h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: var(--secondary-bg);
}

.signup-form label {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

/* Styling the requirements section */
.requirements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.requirements small {
  margin-bottom: 0.5em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.requirements small.active {
  color: var(--secondary-bg);
}

/* Styling the Loader in the button */
.signup-form button span {
  width: 1.2rem;
}
