/* Styling the ruler */
hr {
  width: 100%;
  border-color: var(--secondary-bg);
  margin-block: 0em 1em;
}

/* Styling the error messages */
.err {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

.err small {
  color: var(--secondary-bg);
  font-weight: 700;
}

/* Styling the button  */
form .buttons {
  display: flex;
  gap: 0.5em;
  width: 100%;
  justify-content: flex-end;
}
