/* Importing the fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Setting up starting styling rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* This line is for debuging puposes */
  /* outline: 1px solid lime !important; */
}

/* Setting up the variables */
:root {
  --secondary-bg: hsl(4, 77%, 48%);
}

/* Container that will keep the content from stretching accros the wonle screen for bigger screens */
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-height: 100dvh;
}
